
.App {
  text-align: center;
  background-color: white;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: FreeMono, monospace;
}

.navBar {
  display: flex;
  flex-direction: row;
  background-color: #FFBD33;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  width: 40%;
  border-radius: 15px;
  position: fixed;
  box-shadow: 0px 15px 15px -6px rgba(0,0,0,.5);
}

.link {
  display: flex;
  flex-direction: row;
  color: white;
  padding: 1em;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.link:hover {
  color: #dfdddd;
}

.link p{
  color: #0089ff;
  margin-left: 0.5em;
  padding: 0.4em;
  background-color: white;
  border-radius: 0.3em;
  text-align: center;
  font-weight:600;
  font-size: medium;
}

.link:hover p {
  color: white;
  background-color: #b0e1ff;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  background-color: white;
  min-height: 2px;
  border-radius: 0.3em;
  height: 2em;
  text-align: center;
  margin: 1em;
  padding: 0.5em;
}

.emailContainer {
  display: flex;
  flex-direction: row;
  min-height: 2px;
  border-radius: 0.3em;
  height: 2em;
  text-align: center;
  margin: 1em;
  padding: 0.5em;
  color: #ffffff;
}

.title {
  text-align: center;
  color: #FFBD33;
  font-weight: 1000;
  font-size: large;
  padding: 0.2em;
  align-self: center;
}

.titleContainer:hover {
  cursor: default;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  margin: 1em;
  margin-right: 0.5em;
}

.icon {
  height: 1.5em;
  width: 1.5em;
  display: flex;
  flex-direction: row;
}

.subtitle {
  margin-top: 3.4em;
  font-weight: 450;
  margin-bottom: 0.2em;
}

.frame {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  
}

.events {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;

}

.event {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1em;
  margin: 1em;
  width: 60%;
  align-items: flex-start;
  border-width: 0.2em;
  border-color: #FFBD33;
  border-radius: 0.5em;
  border-style: solid;
  justify-content: space-between;
}

.event p {
  text-align: left;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-top: 1em;
  overflow: hidden;
  word-wrap: normal;
  font-size: small;
}

.eventsb {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-content: center;
  flex-wrap: wrap;
  width: 50em;
}



.eventb {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 1em;
  margin: 1em;
  width: 90%;
  border-width: 0.2em;
  border-color: #FFBD33;
  border-radius: 0.5em;
  border-style: solid;
  justify-content: space-between;
  align-self: center;
}

.eventb p {
  text-align: left;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-top: 1em;
  overflow: hidden;
  word-wrap: normal;
  font-size: 6;
}

.imageContainer {
  height: 10em;
  width: 6.68em;
  border-radius: 0.5em;
  border-color: #FFBD33;
  border-width: 0.2em;
  border-style: solid;
  background-color: #FFBD33;
  align-items: center;
  justify-content: center;
}


.imageContainer img {
  display: block;
  height: 10em;
  width: 6.65em;
  border-radius: 0.3em;
}

.dataContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}

.dataContainer h1 {
  margin-left: 0.5em;
  margin-top: 0;
  color: #FFBD33;
  text-align: left;
  font-size: x-large;
}

.dataContainer p {
  display: flex;
  margin-left: 1.1em;
  flex-direction: row;
  text-align: left;
  margin-top: 0.1em;
  overflow: hidden;
  word-wrap: normal;
}

.tagline {
  font-style: italic;
}

.dataSubContainer {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnsSub {
  display: flex;
  flex-direction: row;
  align-self: center;
}


.btn1 {
  display: flex;
  flex-direction: row;
  background-color: #FFBD33;
  color:white;
  padding: 0.3em;
  border-radius: 0.3em;
  border: none;
  margin: 0.2em;
  height: 3em;
  width: 8em;
  align-items: center;
  justify-content: center;
  
}

.btn1 p {
  font-weight: 700;
  color: white;
  text-align: center;
  align-self: center;
}

.btn1:hover {
  opacity: 0.8;
  cursor: pointer;
}


.btn {
  color: white;
  fill: white;
}

.team {
  color: #FFBD33;
  font-weight: 800;
  margin-right: 1em;
}

.trash {
  display: flex;
  flex-direction: row;
  background-color: rgb(175, 82, 82);
  padding: 0.1em;
  border-radius: 0.3em;
  border: none;
  height: 3.5em;
  width: 3.5em;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-right: 1em;
}

.trash:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btnb {
  color: white;
  fill: white;
  height: 1.2em;
  width: 1.2em;
}

.deleteEvents {
  display: flex;
  flex-direction: row;
  background-color: rgb(175, 82, 82);;
  color:white;
  padding: 0.3em;
  border-radius: 0.3em;
  border: none;
  margin: 0.2em;
  height: 3em;
  width: 15em;
  align-items: center;
  justify-content: center;
}

.deleteEvents p {
  font-weight: 700;
  color: white;
  text-align: center;
  align-self: center;
}

.deleteEvents:hover {
  opacity: 0.8;
  cursor: pointer;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.login-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
}



label {
  display: block;
  font-weight: bold;
  margin: 10px 0 5px;
  color: #555;
}

input {
  width: 80%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #FFBD33;
  color:white;
  padding: 0.3em;
  border-radius: 0.3em;
  border: none;
  margin: 0.2em;
  height: 3em;
  width: 13em;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

button:hover {
  background-color: #fdcd5e;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
}
 
.active {
  background-color: #FFBD33;
  color: white;
  margin: 0.3em;
  height: 2.5em;
  width: 2.5em;
  padding: 0.1em;
  border-radius: 0.3em;
  border: none;
  margin-top: 0.5em;
}
 
.active:hover {
  cursor: pointer;
}
 
.inactive {
  margin: 0.3em;
  height: 2.5em;
  width: 2.5em;
  background-color: #f9dc9b;
  color:white;
  padding: 0.3em;
  border-radius: 0.3em;
  border: none;
  margin-top: 0.5em;
}
 
.inactive:hover {
  cursor: pointer;
}